@media(max-width:576px) {
    .parentDiv {
        width: 100%;
        height: auto;
        /* min-height: 100vh; */
    }


    .registerForm {
        width: 100%;
        height: auto;
        /* background-color:black; */
        margin: auto;
        padding: 5% 0%;
        /* background-color: lightseagreen; */
        background-image: url("https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
        background-size: cover;
    }

    .leftRightContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        /* background-color: rgba(173, 230, 179, 0.2); */
        justify-content: space-between;

    }

    .formatPackage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .rightSession {
        flex: 1;
        display: flex;
        flex-direction: column;
        /* padding: 2% 3%; */
        justify-content: center;
    }

    .button {
        height: 40px;
        background-color: rgb(205, 69, 15);
        border: none;
        border-radius: 5px;
        width: 100%;
        font-family: 'EB Garamond', serif;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
    }
    .buttonDiv {
        width: 20%;
        margin: auto;
    }
}

@media(min-width:576px) {
    .parentDiv {
        width: 100%;
        height: auto;
        /* min-height: 100vh; */
    }
    .registerForm {
        width: 100%;
        height: 100%;
        /* background-color:black; */
        margin: auto;
        padding: 5% 0%;
        /* background-color: lightseagreen; */
    background-image: url("https://wallpaperaccess.com/full/185289.jpg");
    background-size: cover;
     background-attachment: fixed;
    }
    .leftRightContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height:auto;
        background-color: rgba(173, 230, 179, 0.2);
        justify-content: space-between;
    
    }
    .formatPackage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .rightSession {
        flex: 1;
        display: flex;
        flex-direction: column;
        /* padding: 2% 3%; */
        justify-content: center;
        background-color: rgba(173, 230, 179, 0.2) ;
    
    }
    .button {
        height: 40px;
        background-color:rgb(205, 69, 15);
        border: none;
        border-radius: 5px;
        width:100%;
        font-family: 'EB Garamond', serif;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
    }
    
    
    
    .buttonDiv {
        width: 15%;
        margin: auto;
    }
    
     
}
@media(min-width:992px){
    .parentDiv {
        width: 100%;
        height: 100%;
        /* min-height: 100vh; */
    }
    .registerForm {
        width: 100%;
        height: 100%;
        /* background-color:black; */
        margin: auto;
        padding: 5% 0%;
        /* background-color: lightseagreen; */
    background-image: url("https://wallpaperaccess.com/full/185289.jpg");
    background-size: cover;
     background-attachment: fixed;
    }
    .leftRightContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height:auto;
        background-color: rgba(173, 230, 179, 0.2);
        justify-content: space-between;
    
    }
    .formatPackage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .rightSession {
        flex: 1;
        display: flex;
        flex-direction: column;
        /* padding: 2% 3%; */
        justify-content: center;
        background-color: rgba(173, 230, 179, 0.2) ;
    
    }
    .button {
        height: 40px;
        background-color:rgb(205, 69, 15);
        border: none;
        border-radius: 5px;
        width:100%;
        font-family: 'EB Garamond', serif;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
    }
    
    
    
    .buttonDiv {
        width: 10%;
        margin: auto;
    }
    

}